Checks: 'modernize-*,performance-*,bugprone-*,cppcoreguidelines-*,readability-*,misc-*,clang-*,google-*,cert-*,clang-diagnostic-*,clang-analyzer-*,-modernize-use-trailing-return-type,fuchsia-trailing-return,-cppcoreguidelines-init-variables'